<html>
    <head>
        <title>Gameroom {{ room }}</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            var playersHand = new Array();
            var playingHand = new Array();
            var currentTurn = "";

            var name = '{{ name }}';
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/game');
                socket.on('connect', function() {
                    socket.emit('joined', {});
                });
                socket.on('status', function(data) {
                    $('#game').val($('#game').val() + '<' + data.msg + '>\n');
                    $('#game').scrollTop($('#game')[0].scrollHeight);
                });
                socket.on('start_game', function() {
                    var x = document.getElementById("startgame");
                    x.style.visibility = "hidden";
                });
                socket.on('deal', function(data) {
                    //set who goes first                    
                    var json = JSON.parse(data);
                    currentTurn = json['whose_turn']
                    playersHand = json[name];
                    console.log(playersHand);

                    for(var i = 0; i < playersHand.length; i++){
                        var text = document.createElement("a");

                        text.setAttribute("href", "#");
                        var id = convert_to_value(playersHand[i][0]) + convert_to_suit(playersHand[i][1]);
                        var funcname = "add_card(\"" + id + "\")";
                        text.setAttribute("onclick", funcname);
                        text.setAttribute("id", id);
                        //IGNORE THIS IN THE COMMIT 
                        //you'll see why :)
                        text.innerHTML = "<img src = \"\"><br />"; //added the break in here, made removing cards easier
                        document.getElementById("hand").appendChild(text);
                    }
                    
                    //initialize the "recently played" header
                    var upcardslist = document.getElementById("upcards")
                    upcardslist.innerHTML = "Recently played cards:<br/>"
                    console.log(upcardslist.childElementCount);

                    //Render the pass button
                    if (name == currentTurn){
                        render_pass_button();
                    }

                });
                //handle the upcard being changed and render the most recently played cards
                socket.on('change_upcard', function(data) {
                    //clear out old upcards
                    console.log("hi")
                    var oldUpcards = document.getElementById("upcards")

                    for (var i = oldUpcards.childElementCount; i > 0; --i) {
                        oldUpcards.removeChild(oldUpcards.childNodes[i])
                    }
                    
                    console.log(data)
                    //add new upcards
                    currentTurn = data['whose_turn']
                    var updatedCards = data['upcards']
                    for(var i = 0; i < updatedCards.length; i++){
                        var text = document.createElement("p");
                        //text.setAttribute("id_up", updatedCards[i]);
                        var innerText = "";
                        if (updatedCards[i].length > 2){
                            innerText = updatedCards[i].substring(0, 2) + " of " + updatedCards[i].substring(2, 3);
                        } else 
                        {
                            innerText = updatedCards[i].substring(0, 1) + " of " + updatedCards[i].substring(1, 2);
                        }
                        text.innerHTML = innerText;
                        oldUpcards.appendChild(text);
                    }
                    if (name == currentTurn){
                        render_pass_button();
                    }
                });
                //successfully played a move, delete the cards you played
                socket.on('delete_last_move', function(data) {
                    var last_move = data['upcards']
                    for (var i = 0; i < last_move.length; i++){
                        var used_card = document.getElementById(last_move[i])
                        used_card.remove();
                    }
                    playingHand = [];
                    check_button();
                    delete_pass_button();
                });
                //display a javascript alert when the attempted move is invalid
                //TODO: Add better messages for why it's invalid?
                socket.on('invalid_move', function(data) {
                    alert("invalid move")
                });
                //handle the case where a player passed their turn, render pass button for the new person who's playing
                socket.on('pass_turn', function(data) {
                    currentTurn = data['whose_turn']
                    if (currentTurn == name) {
                        render_pass_button();
                    }
                });
                socket.on('wipe_upcards', function() {
                    var oldUpcards = document.getElementById("upcards")

                    for (var i = oldUpcards.childElementCount; i > 0; --i) {
                        oldUpcards.removeChild(oldUpcards.childNodes[i]);
                    }
                });
                // display a little alert with the winner!
                //TODO: Make this cooler?
                socket.on('display_winner', function(data) {
                    message = data['name'] + " won this round!";
                    alert(message)
                });
                // when the game is done, we need to clear the board
                socket.on('clear_board', function() {
                    // clear what's left of the previous hand
                    hand = document.getElementById("hand")
                    while (hand.firstChild) {
                        hand.removeChild(hand.lastChild)
                    }

                    //clear out play button
                    hand = document.getElementById("playbutton")
                    while (hand.firstChild) {
                        hand.removeChild(hand.lastChild)
                    }

                    //clear out pass button
                    hand = document.getElementById("passbutton")
                    while (hand.firstChild) {
                        hand.removeChild(hand.lastChild)
                    }

                    //clear out upcards
                    hand = document.getElementById("upcards")
                    while (hand.firstChild) {
                        hand.removeChild(hand.lastChild)
                    }

                    //clear out the bug with keeping one card in hand
                    playingHand = [];
                });
            });

            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();

                    // go back to the login page
                    window.location.href = "{{ url_for('main.index') }}";
                });
            }

            function start_game() {
                socket.emit('startgame');
                
            }

            function render_pass_button(){
                var text = document.createElement("a");
                text.setAttribute("href", "#");
                var funcname = "pass_turn()";
                var id = "please_work_pass_button"
                text.setAttribute("onclick", funcname);
                text.setAttribute("id", id);
                text.innerHTML = "pass"; //added the break in here, made removing cards easier
                document.getElementById("passbutton").appendChild(text);
            }

            function delete_pass_button(){
                var pass_button = document.getElementById("passbutton")
                pass_button.removeChild(pass_button.childNodes[0]); //this might be a dumb way to do this lol, can perhaps remove by id directly
            }

            //function that emits the "i passed" message
            function pass_turn(){
                socket.emit('passturn');
                delete_pass_button();
            }

            function add_card(id){
                if(playingHand.length < 5  && name == currentTurn){ //if it's your turn, then you're allowed to select cards
                    var card = document.getElementById(id);
                    var text = card.innerHTML;
                    card.innerHTML = "Selected: " + text;
                    var funcname = "remove_card(\"" + id + "\")";
                    card.setAttribute("onclick", funcname);
                    playingHand.push(id);
                    console.log(playingHand);

                    //added a "play selected card(s)" button, added when one card is selected
                    if (playingHand.length == 1){ 
                        var doctext = document.createElement("a");
                        doctext.setAttribute("href", "#");
                        var id_button = "play_card";
                        var funcname_button = "play_cards()";
                        doctext.setAttribute("onclick", funcname_button);
                        doctext.setAttribute("id", id_button);
                        doctext.innerHTML = "play selected card(s)";
                        document.getElementById("playbutton").appendChild(doctext);
                    }
                }
            }

            function remove_card(id){
                var card = document.getElementById(id);
                var text = card.innerHTML;
                card.innerHTML = text.slice(10);
                var funcname = "add_card(\"" + id + "\")";
                card.setAttribute("onclick", funcname);
                var index = playingHand.indexOf(id);
                playingHand.splice(index, 1);
                console.log(playingHand);

                //this will remove play cards button when no more cards are selected
                check_button()
            }

            function check_button() {
                //remove play cards button when no more cards are selected
                if (playingHand.length == 0){
                    var play_button = document.getElementById("playbutton")
                    play_button.removeChild(play_button.childNodes[0]); //this might be a dumb way to do this lol, can perhaps remove by id directly
                }
            }

            function play_cards(){
                if (playingHand.length == document.getElementById("hand").childElementCount){
                    socket.emit('endgame', {upcards: playingHand})
                } else {
                    socket.emit('attemptedplay', {upcards: playingHand});  
                }
            }

            function convert_to_suit(suitNumber){
                if(suitNumber == 1){
                    return "D";
                }
                if(suitNumber == 2){
                    return "C";
                }
                if(suitNumber == 3){
                    return "H";
                }
                if(suitNumber == 4){
                    return "S";
                }
            }

            function convert_to_value(valueNumber){
                if(valueNumber == 15){
                    return "2";
                }
                if(valueNumber == 14){
                    return "A";
                }
                if(valueNumber == 13){
                    return "K";
                }
                if(valueNumber == 12){
                    return "Q";
                }
                if(valueNumber == 11){
                    return "J";
                }
                return valueNumber.toString();
            }
            
        </script>
    </head>
    <body>
        <h1>Game Room: {{ room }}</h1>
        <textarea id="game" cols="80" rows="5"></textarea><br><br>
        <a href="#" onclick="leave_room();">Leave this room</a>

        <a id = "startgame" href="#" onclick="start_game();">Begin game</a>

        <!--TODO: Add a div that's displaying player wins/monetary amounts ;) -->
        <br>
        <br>

        <div id = "hand"></div>
        
        <br>
        <br>

        <div id = "playbutton"></div>
        <br>
        <br>
        <div id = "passbutton"></div>
        <br>
        <br>

        <div id = "upcards"></div>
        
    </body>
</html>
