<html>
    <head>
        <title>Gameroom {{ room }}</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            var name = '{{ name }}';
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/game');
                socket.on('connect', function() {
                    socket.emit('joined', {});
                });
                socket.on('status', function(data) {
                    $('#game').val($('#game').val() + '<' + data.msg + '>\n');
                    $('#game').scrollTop($('#game')[0].scrollHeight);
                });
                socket.on('start_game', function() {
                    var x = document.getElementById("startgame");
                    x.style.visibility = "hidden";
                });
                socket.on('deal', function(data) {
                    var json = JSON.parse(data);
                    console.log(json[name]);
                    
                })

            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();

                    // go back to the login page
                    window.location.href = "{{ url_for('main.index') }}";
                });
            }
            function start_game() {
                socket.emit('startgame');

            }
            
        </script>
    </head>
    <body>
        <h1>Game Room: {{ room }}</h1>
        <textarea id="game" cols="80" rows="5"></textarea><br><br>
        <a href="#" onclick="leave_room();">Leave this room</a>

        <a id = "startgame" href="#" onclick="start_game();">Begin game</a>
    </body>
</html>
